<ul id="constructions" class="list-group list-group-flush"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
    //////////////////////////////////////////////////////
    // Construcciones de la familia
    //////////////////////////////////////////////////////

    $(document).ready(function () {
        let id = "{{familia._id}}";
        let divConstructions = $('#constructions');
        let html = '';
        var socket = io();
        socket.emit('constructions', { id: id })
        socket.on('constructions', function (data) {
            for (var i = 0; i < data.length; i++) {
                let value;
                if (data[i][2] < data[i][5]) {
                    value = data[i][4].split(';');
                }
                html += '   <li class="list-group-item">';
                html += '       <p>Description of ' + data[i][0] + '</p>';
                if (data[i][2] < data[i][5]) {
                    html += '   <p>Valor: ' + value[0] + ' ||| Beneficio: ' + data[i][3] + '</p>';
                    html += '   <button class=\"btn updateConstructionButton\" id=\"' + data[i][0] + '\" onclick=\"updateConstruction(\'' + data[i][0] + '\')\" >Subir a nivel ' + (data[i][2] + 1) + ' <span id="time' + data[i][0] + '"></span></button>';
                }
                html += '   </li>';

            }
            divConstructions.html(html);
        });
    })
</script>

<script>
    var socket = io();

    function updateConstruction(construction) {
        let id = "{{familia._id}}";
        socket.emit('message', { id: id, construction: construction });
        socket.on('time', function (time) {
            console.log('El server te envia tiempo: ' + time + ' milisegundos');
            let initialDate = new Date().getTime();
            let endDate = new Date(initialDate).getTime() + 15000;
            if (endDate > initialDate){
                console.log(terminado)
            }else
        });
        
    }
</script>