<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Conquista de Reinos</title>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row ">
            <nav class="navbar navbar-expand-sm navbarResources" style="width: 100%;">
                <div class="col-3">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="/"><img class="imgLogo" src="/images/corona.png"></a>
                </div>
                <div class="col-1">
                    {{#if user}}
                    <h1 class="familyName">{{familia.name}}</h1>
                </div>
                <div class="col-8">
                    <!-- Links -->
                    <ul class="navbar-nav resources">
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-utensils"></i> <span id="food"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i style="color: #5e2129;" class="fas fa-wine-glass-alt"></i>
                                <span id="wine"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-tree"></i> <span id="wood"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-mountain"></i> <span id="stone"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-hammer"></i> <span id="iron"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i style="color: #ffd700;" class="fas fa-coins"></i>
                                <span id="gold">0</span></span></li>
                    </ul>
                    {{/if}}
                </div>

            </nav>
        </div>
    </div>


    <div id="cont">
        <div class="container-fluid">
            <div class="row">
                {{#if user}}
                <div class="col-2">
                    <div class="menu" >
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Vision General</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/edificios">Edificios</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Tropas</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Entrenamiento</a>
                        <a class="btn btn-block btn-sm btn-outline-success" href="/">Mapa</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Estadisticas</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Alianza</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Recursos</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Casas</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Misiones</a>
                        <a class="btn btn-block btn-sm btn-outline-warning" href="/">Mensajes</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Clasificaciones</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Amigos</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Estadisticas Globales</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Chat</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Foro</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Normativa</a>
                        <a class="btn btn-block btn-sm btn-outline-info" href="/">Configuración</a>
                        <a class="btn btn-block btn-sm btn-outline-danger" href="/users/logout">Cerrar sesión <span class="fas fa-sign-out-alt fa-1x iconLogOut"></span></a>
                    </div>
                </div>
                {{/if}}
                <div class="col-8 cuerpo">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid clear footer">
        <div class="row">
            <div class="col-12">
                <footer>
                    <p>&copy; ASJ 2018</p>
                </footer>
            </div>
        </div>
    </div>


    <script>
        //////////////////////////////////////////////////////
        // Recursos de la familia
        //////////////////////////////////////////////////////
        let id = "{{familia._id}}";
        actualizar();

        function actualizar() {
            $(document).ready(function () {
                $.get(`http://localhost:3000/resources/getResources/${id}`, function (data, status) {
                    let food = data[0];
                    let wine = data[1];
                    let wood = data[2];
                    let iron = data[3];
                    let stone = data[4];
                    document.getElementById("food").innerHTML = food;
                    document.getElementById("wine").innerHTML = wine;
                    document.getElementById("wood").innerHTML = wood;
                    document.getElementById("iron").innerHTML = iron;
                    document.getElementById("stone").innerHTML = stone;
                });
            });
        }
        // Si queremos actualizar el recurso en tiempo real en nuestro cliente descomentar la siguiente linea. Si no, se actualizaran los recursos al recargar la página
        setInterval(actualizar, 1000);
    </script>
</body>

</html>