<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Conquista de Reinos</title>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbarResources">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/"><img class="imgLogo" src="/images/corona.png"></a>

        <!-- Links -->
        {{#if user}}
        <ul class="navbar-nav resources">

            <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-utensils"></i> <span id="food"></span></span></li>
            <li class="nav-item"><span class="resourcesMenu"><i style="color: #5e2129;" class="fas fa-wine-glass-alt"></i>
                    <span id="wine"></span></span></li>
            <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-tree"></i> <span id="wood"></span></span></li>
            <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-mountain"></i> <span id="stone"></span></span></li>
            <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-hammer"></i> <span id="iron"></span></span></li>
            <li class="nav-item"><span class="resourcesMenu"><i style="color: #ffd700;" class="fas fa-coins"></i> <span
                        id="gold">0</span></span></li>

        </ul>
        <a class="nav-link" href="/users/logout"><span class="fas fa-sign-out-alt fa-1x iconLogOut"></span></a>
        {{/if}}
    </nav>
    <div id="cont">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="flex-column nav-pills menu" aria-orientation="vertical">
                        <a href="/">Vision General</a>
                        <a class="nav-link" href="/edificios">Edificios</a>
                        <a class="nav-link" href="/">Messages</a>
                        <a class="nav-link" href="/">Settings</a>
                        <a class="nav-link" href="/">Vision General</a>
                    </div>
                </div>
                <div class="col-md-8 m1-md-auto cuerpo">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid clear footer">
        <div class="row">
            <div class="col-12">
                <footer>
                    <p>&copy; ASJ 2018</p>
                </footer>
            </div>
        </div>
    </div>


    <script>
        //////////////////////////////////////////////////////
        // Recursos de la familia
        //////////////////////////////////////////////////////
        let id = "{{familia._id}}";
        actualizar();

        function actualizar() {
            $(document).ready(function () {
                $.get(`http://localhost:3000/resources/getResources/${id}`, function (data, status) {
                    let food = data[0];
                    let wine = data[1];
                    let wood = data[2];
                    let iron = data[3];
                    let stone = data[4];
                    document.getElementById("food").innerHTML = food;
                    document.getElementById("wine").innerHTML = wine;
                    document.getElementById("wood").innerHTML = wood;
                    document.getElementById("iron").innerHTML = iron;
                    document.getElementById("stone").innerHTML = stone;
                });
            });
        }
        // Si queremos actualizar el recurso en tiempo real en nuestro cliente descomentar la siguiente linea. Si no, se actualizaran los recursos al recargar la página
        setInterval(actualizar, 1000);
    </script>
</body>

</html>