<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Conquista de Reinos</title>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row ">
            <nav class="navbar navbar-expand-sm mainNavbar">
                <div class="col-3">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="/"><img class="imgLogo" src="/images/corona.png"></a>
                </div>
                <div class="col-1">
                    {{#if user}}
                    <h1 class="familyName">{{familia.name}}</h1>
                </div>
                <div class="col-8">
                    <!-- Links -->
                    <ul class="navbar-nav resources">
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-utensils"></i> <span id="food"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i style="color: #5e2129;" class="fas fa-wine-glass-alt"></i>
                                <span id="wine"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-tree"></i> <span id="wood"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-mountain"></i> <span id="stone"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i class="fas fa-hammer"></i> <span id="iron"></span></span></li>
                        <li class="nav-item"><span class="resourcesMenu"><i style="color: #ffd700;" class="fas fa-coins"></i>
                                <span id="gold">0</span></span></li>
                        <li class="nav-item">
                            <a id="modal-397489" href="#modal-container-397489" role="button" class="btn" data-toggle="modal">Construyendo</a>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </nav>
        </div>
    </div>


    <div id="cont">
        <div class="container-fluid">
            <div class="row">
                {{#if user}}
                <div class="col-2">
                    <div class="menu">
                        <a class="btn btn-block" href="/">Vision General</a>
                        <a class="btn btn-block" href="/edificios">Edificios</a>
                        <a class="btn btn-block" href="/">Tropas</a>
                        <a class="btn btn-block" href="/">Entrenamiento</a>
                        <a class="btn btn-block" href="/">Mapa</a>
                        <a class="btn btn-block" href="/">Estadisticas</a>
                        <a class="btn btn-block" href="/">Alianza</a>
                        <a class="btn btn-block" href="/">Recursos</a>
                        <a class="btn btn-block" href="/">Casas</a>
                        <a class="btn btn-block" href="/">Misiones</a>
                        <a class="btn btn-block" href="/">Mensajes</a>
                        <a class="btn btn-block" href="/">Clasificaciones</a>
                        <a class="btn btn-block" href="/">Amigos</a>
                        <a class="btn btn-block" href="/">Estadisticas Globales</a>
                        <a class="btn btn-block" href="/">Chat</a>
                        <a class="btn btn-block" href="/">Foro</a>
                        <a class="btn btn-block" href="/">Normativa</a>
                        <a class="btn btn-block" href="/">Configuración</a>
                        <a class="btn btn-block" href="/users/logout">Cerrar sesión <span class="fas fa-sign-out-alt fa-1x iconLogOut"></span></a>
                    </div>
                </div>
                {{/if}}
                <div class="col-8 cuerpo">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid clear footer">
        <div class="row">
            <div class="col-12">
                <footer>
                    <p>&copy; ASJ 2018</p>
                </footer>
            </div>
        </div>
    </div>
    {{#if user}}
    <div class="modal fade" id="modal-container-397489" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Construcciones en proceso
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body row" id="constructionsModal">
                    <div class="col-4" id="constructionsModalName">

                    </div>
                    <div class="col-8" id="constructionsModalTime">

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>

        //////////////////////////////////////////////////////
        // Recursos de la familia
        //////////////////////////////////////////////////////
        let id = "{{familia._id}}";
        actualizar();
        constructionsModal();

        function actualizar() {
            $(document).ready(function () {
                var socket = io();
                socket.emit('resources', { id: id });
                socket.on('resources', function (data) {
                    let food = data[0];
                    let wine = data[1];
                    let wood = data[2];
                    let iron = data[3];
                    let stone = data[4];
                    document.getElementById("food").innerHTML = food;
                    document.getElementById("wine").innerHTML = wine;
                    document.getElementById("wood").innerHTML = wood;
                    document.getElementById("iron").innerHTML = iron;
                    document.getElementById("stone").innerHTML = stone;
                });
            });
        }
        // Si queremos actualizar el recurso en tiempo real en nuestro cliente descomentar la siguiente linea. Si no, se actualizaran los recursos al recargar la página
        setInterval(actualizar, 1000);

        function constructionsModal() {
            var socket = io();
            socket.emit('constructionsModal', { id: id });
            socket.on('constructionsModal', function (data) {
                let fechaHoy = new Date().getTime();
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i])
                    if (data[i].dateEnd < fechaHoy) {
                        console.log("Ya ha finalizado")
                    } else {
                        countDown(data[i]);
                    }
                }
            });
        }

        function countDown(date) {
            console.log(date.construction)
            let varia = date.construction
            // Set the date we're counting down to
            var countDownDate = new Date(date.dateEnd).getTime();
            let nameConstruction = date.construction;
            var node = document.createElement("DIV");
            node.id = date.construction + "Name";
            var textnode = document.createTextNode(nameConstruction);
            node.appendChild(textnode);
            document.getElementById("constructionsModalName").appendChild(node);

            var node2 = document.createElement("DIV");
            node2.id = date.construction + "Time" + date.level;
            var textnode2 = document.createTextNode("00:00:00");
            node2.appendChild(textnode2);
            document.getElementById("constructionsModalTime").appendChild(node2);
            // Update the count down every 1 second
            var i = setInterval(function () {
                // Get todays date and time
                var now = new Date().getTime();
                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if (days < 10) { days = "0" + days; }
                if (hours < 10) { hours = "0" + hours; }
                if (minutes < 10) { minutes = "0" + minutes; }
                if (seconds < 10) { seconds = "0" + seconds; }

                // Output the result in an element with id="demo"                   

                document.getElementById(node2.id).innerHTML = days + ":" + hours + ":" + minutes + ":" + seconds;
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(i);
                    document.getElementById(node2.id).innerHTML = "Finalizado";

                };
            }, 1000);

        }
    </script>
    {{/if}}
</body>

</html>