<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Conquista de Reinos</title>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  

</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/"><img width="150" src="/images/corona.png"></a>

    <!-- Links -->
    {{#if user}}
    <ul class="navbar-nav resources">
      
      <li class="nav-item"><h2 class="resourcesMenu"><i class="fas fa-utensils"></i> <span id="food"></span></h2></li>
      <li class="nav-item"><h2 class="resourcesMenu"><i style="color: #5e2129;" class="fas fa-wine-glass-alt"></i> <span id="wine"></span></h2></li>
      <li class="nav-item"><h2 class="resourcesMenu"><i class="fas fa-tree"></i> <span id="wood"></span></h2></li>
      <li class="nav-item"><h2 class="resourcesMenu"><i class="fas fa-mountain"></i> <span id="stone"></span></h2></li>
      <li class="nav-item"><h2 class="resourcesMenu"><i class="fas fa-hammer"></i> <span id="iron"></span></h2></li>
      <li class="nav-item"><h2 class="resourcesMenu"><i style="color: #ffd700;" class="fas fa-coins"></i> <span id="gold">0</span></h2></li>
      
    </ul>
    <a class="nav-link" href="/users/logout"><span style="color:white;" class="fas fa-sign-out-alt fa-2x"></span></a>
    {{/if}}
  </nav>

  {{{body}}}

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>

</body>

</html>