<div class="login">
    <h1>Registro</h1>
    {{#if user}}
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>El usuario ya existe</div>
    {{/if}}
    {{#if mail}}
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>El email ya está registrado</div>
    {{/if}}
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{msg}}</div>
    {{/each}}
    {{/if}}
    <form method="post" action="/users/register">
        <input type="text" autocomplete="off" placeholder="Nombre" name="name" required="required">
        <input type="text" autocomplete="off" placeholder="Usuario" name="username" required="required">
        <input type="email" autocomplete="off" placeholder="Email" name="email" required="required">
        <input type="password" autocomplete="off" placeholder="Contraseña" name="password" required="required">
        <input type="password" autocomplete="off" placeholder="Confirme contraseña" name="password2" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large">Registrar</button>
    </form>
    <p>¿Ya tiene cuenta? <a href="/users/login">Iniciar sesión</a></p>
</div>