#cont {
    margin: 2% 10% 2% 10%;
}

#constructions .card {
    margin: 5px;
}

.menu {
    text-align: left;
    width: 100%;
}

.menu a {
    margin: 5px;
}

.cuerpo {
    margin: 0 auto;
}

.familyName {
    color: white;
}

.imgLogo {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}

.iconLogOut {
    color: #5e2129;
    margin-left: 5px;
}

.resources {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resourcesMenu {
    color: black;
    padding: 10px;
    font-size: 1em;
}

.navbarResources {
    background-color: #5e2129;
    margin: 0 auto;
}

.resources li {
    background-color: bisque;
    color: black;
    border: double 2px bisque;
    border-radius: 5px;
    margin: 5px;
}

.clear {
    clear: both;
}

.footer {
    background-color: black;
    color: white;
}