#cont {
    margin: 2% 10% 2% 10%;
}

.menu {
    background-color: bisque;
    border-style: double;
}

.menu a {
    color: black;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.cuerpo {
    margin: 0 auto;
}

.familyName {
    color: white;
}

.imgLogo {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}

.iconLogOut {
    color: #5e2129;
    margin-left: 5px;
}

.resources {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources li {
    background-color: bisque;
    color: black;
    border: double 2px bisque;
    border-radius: 5px;
    margin: 5px;
}

.resourcesMenu {
    color: black;
    padding: 10px;
    font-size: 1em;
}

.mainNavbar {
    background-color: #5e2129;
    margin: 0 auto;
    width: 100%;
}

#constructions li a {
    color: white;
    background-color: #5e2129;
}

.clear {
    clear: both;
}

.footer {
    background-color: black;
    color: white;
}