.resourcesMenu {
    color: white;
}

.resources {
    background-color: bisque;
    color: black;
    border: double 2px white;
    border-radius: 5px;
    margin: 0 auto;
}

.resources li h2 {
    padding: 15px;
    color: black;
}